# Dependencies
node_modules/

# Production Build
dist/

# Environment Variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# User Uploads
uploads/

# Temporary Test / Seed Scripts
src/db/deleteAllSeededTasks.ts
src/db/reseedOrgTasks.ts
src/db/seedHuntersTasks.ts
src/db/seedTestTasks.ts
